@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@layer components {
  .setlist {
    @apply text-2xl font-permanent text-green-600
  }
  .range-buttons {
    @apply text-xs focus:text-black text-green-500 focus:bg-green-500
    hover:text-green-400 duration-300 mt-4 mr-2 p-1 border border-green-400 rounded-full
  }
  .theme-buttons {
    @apply text-xs text-green-500 font-bold focus:text-black focus:bg-green-200
    hover:text-green-400 duration-300 mt-2 mr-2 border px-1 border-green-400 rounded-full
  }
  .save-button {
    @apply flex items-center text-white text-sm border-b rounded-full 
    bg-green-500 hover:bg-green-400 duration-300 mt-4 p-2 
  }
  .artist {
    @apply text-xs font-permanent text-green-500 font-semibold
  }
  .song {
    @apply text-sm max-w-[320px] sm:max-w-[450px] h-8 font-permanent truncate
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
